
doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta(name="description" content="")

        title KL4E's Hamshack
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space Mono")
        link(rel="stylesheet" href="css/index.css")

    body
        header
            span -=[kl4e.us]=-
        h1 Welcome to my virtual hamshack!

        p This is mostly for my own personal reference when out and about with my radio or talking radio, but if you find something useful here then feel free to bookmark it. &#127773; <br /><br /> KL4E, 73

        h3 Notes

        ul
            li
                a(href="swr_ranges.html") SWR Ranges
            li
                a(href="logging.html") Radio Logging (Linux)
        footer
